.chat{
    width:1000px;
    margin: auto;
  }
  
  .chat-container{
    background-color: #eee;
    padding:24px;
    border-radius: 20px;
    border: 1px solid #ddd;
  }
  .chat-container h3{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .chat-content{
    background-color: white;
    border-radius: 0 20px 20px 20px;
    padding:12px 20px;
    width:fit-content;
    
  }
  
  .ai-chat{
    align-items: start;
    display: flex;
    gap:10px  
  }
  
  .ai-chat .chat-wrap, 
  .user-chat {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap:6px;
  }
  
  .ai-chat img{
    width: 60px;
  }
  
  .ai-chat .chat-content:first-child{
    margin-top:30px;
  }
  .user-chat .chat-content{
    background-color: rgb(177, 226, 245);
    border-radius: 20px 20px 0 20px;
  }
  
  /* form */
  .chat-form{
    background-color: white;
    display: flex;
    padding:10px;
    border-radius: 16px;
    align-items: center;
    gap:10px;
    margin-top:20px;
  }
  .chat-form textarea{
    border: 0;
    resize: none;
    flex-grow: 1;
    height: 60px;
  }
  .chat-form button{
    background-color: royalblue;
    border: 0;
    color:white;
    width:80px;
    height:32px;
    border-radius: 10px;
  }
  
  
  .chat-screen{
    height:600px;
    overflow-y: auto;
  
    mask-image: linear-gradient(0deg, transparent 0%, black 10%);
      -webkit-mask-image: linear-gradient(0deg, transparent 0%, black 10%);
  
  }


  /* Selectors

.classname: 클래스 선택자
#id: ID 선택자
element: 요소 선택자
Box Model

padding: 요소의 내부 여백을 지정합니다.
margin: 요소의 외부 여백을 지정합니다.
border: 요소의 테두리를 지정합니다.
Background & Colors

background-color: 배경 색상을 지정합니다.
border-color: 테두리 색상을 지정합니다.
Flexbox: 레이아웃 디자인에 유용한 플렉스박스 모델입니다.

display: flex: 요소를 플렉스 컨테이너로 만듭니다.
align-items, justify-content, flex-direction 등의 속성들로 플렉스 아이템을 조절합니다.
Dimensions

width: 요소의 너비를 지정합니다.
height: 요소의 높이를 지정합니다.
max-width, min-width, max-height, min-height: 요소의 최대 및 최소 너비 및 높이를 지정합니다.
Text Properties

font-size: 폰트 크기를 지정합니다.
text-align: 텍스트 정렬을 지정합니다.
Borders & Radius

border-radius: 요소의 테두리 모서리를 둥글게 합니다.
Pseudo Selectors

:first-child, :last-child: 첫 번째 또는 마지막 자식 요소를 선택합니다.
Positioning

position: 요소의 위치 유형을 설정합니다 (예: relative, absolute, fixed).
Advanced Visual Effects

mask-image: 요소의 보이는 부분을 제어합니다.
-webkit-: 웹킷 브라우저를 위한 벤더 프리픽스입니다. 웹킷 기반의 브라우저에서 특정 스타일을 적용하려면 사용합니다.
Form Styling
resize: 사용자가 요소의 크기를 조절할 수 있는지 여부를 지정합니다.
border: 요소의 테두리 스타일, 너비 및 색상을 지정합니다. */