main{
    width: 1000px;
    margin: auto;
}
.board-table{
    border-collapse: collapse;
    width:100%;
    border-top:2px solid black;
    text-align: center;
}
.board-table th{
    background-color:#eee;
}
.board-table th,
.board-table td{
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
}
.board-table th{
    font-family:'Pretendard-Bold'
    padding: 8px;
}
.board-table a{
    text-decoration: none;
    font-family:'pretendard-bold';
    font-weight:bold;
    color:inherit;
}
/* Selectors

.classname: 클래스 선택자
element: 태그 요소 선택자 (예: ul, label, legend 등)
.class1, .class2: 여러 선택자를 동시에 지정
.class:hover: 마우스 오버(hover) 시 스타일을 적용
.class:disabled: 요소가 비활성화(disabled) 상태일 때의 스타일을 적용
List Style

list-style: 목록 스타일을 지정 (list-style: none은 목록 항목 앞의 기호를 제거)
Box Model

width: 요소의 너비를 지정
margin: 요소의 외부 여백을 지정
border: 요소의 테두리를 지정
border-radius: 요소의 모서리를 둥글게 만듦
Flexbox

display: flex: 요소를 플렉스 컨테이너로 설정
flex-direction: 플렉스 아이템의 주축 방향을 지정
align-items: 플렉스 아이템의 교차축 방향에서 정렬 방식을 지정
gap: 플렉스 아이템 사이의 간격을 지정
flex-grow: 플렉스 아이템이 남는 공간을 얼마나 가져갈지 지정
Text Properties

text-align: 텍스트 정렬을 지정
color: 글자 색상을 지정
font-weight: 글자의 굵기를 지정
Button Properties

background-color: 배경 색상을 지정
height: 요소의 높이를 지정
:hover: 요소에 마우스를 올렸을 때 스타일을 지정
Fieldset & Legend

fieldset: 폼의 여러 컨트롤과 레이블을 그룹화하는 요소
legend: fieldset 요소의 제목을 표시하는 요소
float: 요소를 왼쪽 또는 오른쪽으로 부동시킴. */