ul{
    list-style:none;
}
/* 로그인 페이지 */
.login{
    width: 400px;
    margin: auto;
}

.main-title,
.main-desc{
    text-align: center;
}

컨테이너1
.main-form{
    display:flex;
    flex-direction:column;
    gap:16px;
}
컨테이너2
.flex-put{
    display: flex;
    align-items: center;
}
/* 컨테이너 2:아이템 */
.flex-input label{
    width: 80px;
}
.flex-input{
    flex-grow:1;
}
.login-btn{
    background-color: royalblue;
    border: 0;
    border-radius: 4px;
    height: 36px;
    color:white;
    font-weight:bold;
    background-color: 0.3s ease;
}


.login-btn:hover{
    background-color: green;
  }
  .login-btn:disabled{
    background-color: #ccc;
  }
  
  /* field */
  
  /* fieldset 유지 */
  .field{
    border: 0;
  }
  
  .field legend{
    float: left;
    width:80px;
  }

  /*  */