@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: bold;
  }



/* layout */

.layout-header{
 height: 80px;
 padding:0 20px;
 border-bottom: 1px solid #ccc;
 display: flex;
 justify-content: space-between;
 align-items:center;
}
.layout-header >h1{
    color: #2E6FF2;
    font-size: 32px;
    font-family:'Pretendard-Bold';
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* body */
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap:60px;
  }
 .container {
    display: flex;
    flex-direction: row;
 }

 .image-container{
    flex: 1;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; 
 }
 .text-container{
    flex: 2;
    padding-left: 20px;
 }


  main{
    flex-grow: 1;
  }


/* footer */
.layout-footer{
    text-align: center;
    background-color: #eee;
    padding: 30px 0;
}